@media only screen and (max-width: 1024px) {

	.row {
		padding: 0 2%;
	}

	.header {
		padding: 0 0 80px 0;
	}

	.top-header-section {
		padding: 20px 0;
	}

	.main-nav nav {
		padding: 10px 0 0 0;
	}

	.content {
		padding: 48px 0 0px 0;
	}

	ul.nav-menu.left-menu,
	ul.nav-menu.right-menu {
		display: none;
	}

	.left-header-col {
		text-align: left;
	}

	.right-header-col {
		text-align: right;
	}


	.menu-link-box {
		display: inline-block;
		vertical-align: middle;
	}

	.catalog-thumnails.row {
		padding: 85px 2% 0 2%;
	}

	.catalog-item {
		width: 33.33%;
	}

	.main-content {
		width: 100%;
		padding: 15px 1%;
	}

	.slider-new-goods {
		padding: 0 0 10px 0;
	}

	.slider-new-goods button.slick-arrow {
		display: inline-block;
		vertical-align: middle;
		width: 5%;
		position: relative;
		top: -20px;
	}

	.slider-new-goods .slick-prev img,
	.slider-new-goods .slick-next img {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.slider-new-goods .slick-list {
		display: inline-block;
		vertical-align: middle;
		width: 90%;
	}

	.product-content {
		padding: 40px 0 10px 0;
	}

	.content-left-col,
	.content-right-col {
		width: 100%;
		padding: 40px 0;
	}

	.content-right-col {
		padding: 10px 0 40px 0;
	}

	.content-right-col {
		text-align: center;
	}

	.content-right-col img {
		display: inline-block;
		vertical-align: top;
		margin: 15px 1%;
	}

	.float-image {
		display: block;
		width: 250px;
		position: relative;
		margin: 40px auto;
	}

	.footer-section-1 .footer-col {
		width: 100%;
		padding: 20px 5%;
	}

	.footer-section-1 .footer-col.col-1 {
		text-align: left;
	}

	.footer-section-1 .footer-col.col-2 {
		text-align: center;
		padding: 60px 0 30px 0;
	}

	.footer-section-1 .footer-col.col-2 .right {
		width: 100%;
	}

	.footer-section-2 {
		padding: 20px 0;
	}

	.footer-section-2 .footer-col {
		width: 100%;
		padding: 10px 0;
	}

	.footer-col.col-1 {
		text-align: center;
	}

	.footer-col.col-3 .right {
		margin: 10px auto;
		float: none;
	}


}


@media only screen and (max-width: 768px) {

	h2 {
		text-align: center;
		line-height: 36px;
		padding: 5px 0;
	}

	.article {
		text-align: center;
	}

	.catalog-item {
	    width: 50%;
	}

	.thumbnail .img-box {
		height: 148px;
	}

	.slider-new-goods button.slick-prev img {
		left: -20px;
	}

	.sortable-list {
		text-align: center;
	}

	.catalog-items .catalog-item {
		width: 50%;
	}

	.catalog-page.thumbnails .pagination-list {
		padding: 35px 0 15px 0;
	}


    .product-box .left-col {
        width: 100%;
    }

    .product-box .right-col {
        width: 100%;
    }

    .slider-big-photo {
    	height: 250px;
    }

	.slider-big-photo div {
		height: 250px;
	}

	.slider-nav-big-photo {
		margin: -10px 0 0 0;
		position: relative;
	}

	.slider-nav-big-photo .slick-list {
		display: block;
		width: 84%;
		margin: 10px auto;
	}

	.slider-nav-big-photo .slick-list .slick-track div {
		height: 80px;
		overflow: hidden;
		margin: 0 2px;
	}

	.slider-nav-big-photo .slick-list .slick-track div img {
		display: block;
		width: 100%;
		height: auto;
	}

	.slider-nav-big-photo button.slick-arrow {
		display: block;
		position: absolute;
		top: 50%;
		width: 20px;
		height: 20px;
		margin: -10px 0 0 0;
	}

	.slider-nav-big-photo button.slick-prev {
		left: -1.5%;
	}

	.slider-nav-big-photo button.slick-next {
		right: 2%;
	}

	.slider-nav-big-photo button.slick-prev img,
	.slider-nav-big-photo button.slick-next img {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.float-image {
		display: block;
		position: relative;
		margin: 0 auto 10px auto;
	}

	.float-image img {
		display: block;
		width: auto;
		height: 220px;
		margin: 0 auto;
	}

	.footer-section-1 .col-1 ul {
		width: 100%;
		text-align: center;
	}

	.footer-section-1 .footer-col.col-2 {
		padding: 10px 0;
	}

	.footer-section-2 .col-2 ul li {
		width: 100%;
		padding: 7px 12px;
	}

	.footer-section-2 ul.soc-nets-list li {
		width: auto;
	}

}



@media only screen and (max-width: 480px) {

	h2 {
		font-size: 30px;
		line-height: 30px;
		padding: 5px 0;
	}

	h1.site-h {
		padding: 10px 2% 10px 2%;
		font-size: 18px;
		line-height: 26px;
	}

	.header {
		padding: 0 0 65px 0;
	}

	.thumbnail .img-box {
		height: 115px;
	}

	.slider-new-goods .slick-list {
		width: 84%;
	}

	.slider-new-goods button.slick-arrow {
		width: 8%;
	}

	.slider-new-goods button.slick-arrow img {
		width: 38px;
	}

	.sortable-list li {
		width: 100%;
	}

	.catalog-items .catalog-item {
		display: block;
		width: 76%;
		margin: 0 auto;
	}

	.catalog-page.thumbnails .pagination-list {
		padding: 20px 0 15px 0;
	}

	.catalog-page.thumbnails .pagination-list li {
		padding: 15px 1px;
	}

	.slider-nav-big-photo .slick-list .slick-track div {
		height: 65px;
		overflow: hidden;
	}

	.slider-nav-big-photo .slick-list .slick-track div img {
		display: block;
		width: 100%;
		height: auto;
	}

}


@media only screen and (max-width: 320px) {

	.catalog-items .catalog-item {
		width: 96%;
	}

}